@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');



.body{
    background-color: #E4C1F9;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    padding: 0;
    margin: 0;
}

.log-card{
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-log{ 
    align-items: center;
    background-color: #FF99C8;
    padding: 30px 40px 10px 40px;
    width: 420px;
    margin: auto;
    border-radius: 10px;
}
.frm-c{
    width: 340px;
}

.icon{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    height: 20px; 
    position: relative;
}

.btn-log{
    background-color: #E4C1F9;
    padding: 10px 20px;
    float: right;
    font-weight: 600;
    width: 107px;
    border-radius: 22px;
    text-align: center;
    border: none;
}
.btn-log:hover{
    color: white;
    background-color: #A9DEF9;
    transition: 0.2s;
    box-shadow: 0 0 0px #A9DEF9,
                0 0 10px #A9DEF9,
                0 0 15px #A9DEF9,
                0 0 25px #A9DEF9;
}

.log-text{
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 40px;
    font-size: 26px;
}

.text-nav{
    font-weight: 700;
    font-size: 25px;
}

a{
    text-decoration: none;
}

.list-nav{
    margin-left: 600px;
    width: 500px;
    justify-content: space-between;
}

.link-nav{
    font-size: 400;
    color: #000000;
}
.link-nav:hover{
    color: #404040;
}