@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');


body{
    background-color: #E4C1F9;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    padding: 0;
    margin: 0;
}

.log-card{
    margin-top: 30px;
}

.card-log{
    align-items: center;
    background-color: #FF99C8;
    padding: 30px 40px 10px 40px;
    width: 420px;
    margin: auto;
    border-radius: 10px;
}
.frm-c{
    width: 340px;
}

.icon{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    height: 20px; 
    position: relative;
}


.form-label{
    color: white;
}
.col-form-label{
    color: white;
}

.btn-log1{
    background-color: #E4C1F9;
    padding: 10px 20px;
    float: right;
    color: #000000;
    font-weight: 600;
    width: 107px;
    border-radius: 22px;
    text-align: center;
    margin-top: -20px;
}
.btn-log1:hover{
    color: #E4C1F9;
    background-color: #A9DEF9;
    transition: 0.4s;
    box-shadow: 0 0 0px #A9DEF9,
                0 0 10px #A9DEF9,
                0 0 15px #A9DEF9,
                0 0 25px #A9DEF9;
}

.log-text{
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: -40px;
    margin-bottom: 40px;
    font-size: 26px;
}

.radio-gender{
    margin-left: 50px;
    border: none;
    color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');

/* landingpage */
body{
    background-color: #E4C1F9;
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    padding: 0;
    margin: 0;
}

.text-nav{
    font-weight: 700;
    font-size: 25px;
}

a{
    text-decoration: none;
}

.list-nav{
    margin-left: 600px;
    width: 500px;
    justify-content: space-between;
}

.link-nav{
    font-size: 400;
    color: #000000;
}
.link-nav:hover{
    color: #404040;
}